
.icon-icon_12:before { content: '\e800'; } /* '' */
.icon-icon_13:before { content: '\e801'; } /* '' */
.icon-icon_14:before { content: '\e802'; } /* '' */
.icon-icon_2:before { content: '\e804'; } /* '' */
.icon-icon_3:before { content: '\e805'; } /* '' */
.icon-icon_4:before { content: '\e806'; } /* '' */
.icon-icon_5:before { content: '\e807'; } /* '' */
.icon-icon_6:before { content: '\e808'; } /* '' */
.icon-icon_7:before { content: '\e809'; } /* '' */
.icon-icon_8:before { content: '\e80a'; } /* '' */
.icon-icon_9:before { content: '\e80b'; } /* '' */
.icon-icon_10:before { content: '\e80c'; } /* '' */
.icon-icon_11:before { content: '\e80d'; } /* '' */
.icon-full:before { content: '\e80e'; } /* '' */